/*==================================
        CSS Variables
==================================*/

:root {
    --color-primary: #0095da;
    --color-secondary: #05233e;
    --color-hover: #e68324;
    --color-text: #777;
    --color-dark: #333;
    --color-light: #ddd;
}

.dark {
    --color-primary: #3ab8ff;
    --color-secondary: #7e7e7e;
    --color-hover: #ffa94d;
    --color-text: #ccc;
    --color-dark: #f5f5f5;
    --color-light: #1a1a1a;
}

/*==================================
        Global Styles
==================================*/

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    padding: 1.5rem 0;
}

a {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

/*==================================
            Header/Navbar
==================================*/
header {
    position: sticky;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    top: 0;
    backdrop-filter: blur(5px);
    background-color: var(--color-secondary);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    margin-top: 0;
    padding-top: 0;
    max-width: 50px;
}

.navbar .logo img {
    width: 100%;
    height: auto;
}

.navbar .nav-toggler {
    flex-direction: column;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    order: 3;
}

.navbar .nav-toggler .line {
    width: 1.8rem;
    height: 3px;
    background-color: var(--color-primary);
    margin: 4px 0;
    transition: all 0.3s ease;
    display: block;
}

.navbar .nav-toggler:hover .line {
    background-color: var(--color-hover);
}

.navbar .nav-toggler .line-2 {
    margin-left: -0.25rem;
}

.navbar .nav-toggler .line-1.rotate {
    transform: rotate(45deg) translate(5px, 2px);
}

.navbar .nav-toggler .line-2.none {
    opacity: 0;
}

.navbar .nav-toggler .line-3.rotate {
    transform: rotate(-45deg) translate(5px, -2px);
}

.navbar .nav-menu {
    display: none;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
}

.navbar .nav-menu.toggled {
    display: flex;
    position: absolute;
    top: 70px;
    right: 0;
    width: 60%;
    background-color: var(--color-secondary);
    padding: 1rem 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    color: var(--color-light);
    height: 100vh;
}

.navbar .nav-menu .nav-item .nav-link {
    font-size: 1rem;
    color: var(--color-primary);
    transition: color 0.3s ease;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    margin: 0;
}

.navbar .nav-menu .nav-item .nav-link:hover,
.navbar .nav-menu .nav-item .nav-link.active {
    color: var(--color-hover);
}

.navbar .theme-toggle {
    cursor: pointer;
    border: none;
    background: none;
    font-size: 1.5rem;
    color: var(--color-primary);
    transition: color 0.3s ease;
    order: 2;
}

.sun-icon,
.moon-icon {
    fill: var(--color-primary);
    transition: fill 0.3s ease;
    cursor: pointer;
}

.sun-icon:hover,
.moon-icon:hover {
    fill: var(--color-hover);
}

/*==================================
            Main Section
==================================*/
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: var(--color-light);
}

main h1 {
    font-size: 2.5rem;
    color: var(--color-dark);
    margin-bottom: 1rem;
}

main p {
    font-size: 1.2rem;
    color: var(--color-text);
}

/*==================================
            Footer Section
==================================*/
footer {
    background-color: var(--color-secondary);
    color: var(--color-light);
    text-align: center;
    padding: 1rem 0;
}
footer p {
    margin: 0;
    font-size: 0.9rem;
}

footer p a {
    color: var(--color-primary);
    transition: color 0.3s ease;
}

footer p a:hover {
    color: var(--color-hover);
}

/*==================================
        Media Queries
==================================*/
@media (min-width: 768px) {
    .navbar .nav-menu {
        display: flex;
        flex-direction: row;
    }

    .navbar .nav-toggler {
        display: none;
    }
}
